.mainHeader {
    width: 1900px;
    height: 370px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.container {
    display: flex;
    /* transition은 자바스크립트에서 제어할 것이므로 여기선 기본값만 설정하거나 비워둡니다. */
}
.main img {
    width: 1900px;
    height: 370px;
    display: block;
}
.section1, .section2{
  width: 1050px;
  height: 704px;
  /* border: 2px solid black; */
  margin: 0 auto;
  padding-top: 30px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  width: 1050px;
  height: 36px;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}
.subTitle {
  width: 1050px;
  height: 36px;
  text-align: center;
  color: #999999;
  font-size: 20px;
}
.detail{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
[class^="box"]{ /* class명이 box로 시작하는 class 다 불러오기*/
  cursor: pointer;
}
[class^="box"]:hover .img{
  transform: scale(1.02);
}
.img {
  width: 249px;
  height: 320px;
  border-radius: 5px;
}
.cart{
  width: 245px;
  height: 35px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  margin: 5px 0;
}

.info {
  flex-wrap: wrap;
  width: 239px;
  height: 46px;
  color: #222;
  margin-left: 5px;
}
.originPrice {
  margin: 5px;
  /* border: 1px solid red; */
  color: #999999;
}
.rate {
  color: red;
  font-size: 20px;
  font-weight: bold;
  padding: 0 7px 5px 0;
  margin: 5px;
}
.realPrice {
  font-size: 20px;
  font-weight: bold;
}
.review {
  color: #999999;
  margin: 5px;
}
.box1 .img {
  background-image: url(../images/main01.jpg) ;
  background-position: center;
  background-size: cover;
  width: 249px;
}
.box2 .img {
  background-image: url(../images/main02.jpg) ;
  background-position: center;
  background-size: cover;
  width: 249px;
}
.box3 .img {
  background-image: url(../images/main03.jpg) ;
  background-position: center;
  background-size: cover;
  width: 249px;
}
.box4 .img {
  background-image: url(../images/main04.jpg) ;
  background-position: center;
  background-size: cover;
  width: 249px;
}
.box5 .img {
  background-image: url(../images/main05.jpg) ;
  background-position: center;
  background-size: cover;
  width: 249px;
}
.box6 .img {
  background-image: url(../images/main06.jpg) ;
  background-position: center;
  background-size: cover;
  width: 249px;
}
.box7 .img {
  background-image: url(../images/main07.jpg) ;
  background-position: center;
  background-size: cover;
  width: 249px;
}
.box8 .img {
  background-image: url(../images/main08.jpg) ;
  background-position: center;
  background-size: cover;
  width: 249px;
}
.section3{
    width: 100%;
    height: 409px;
    background-color: rgb(244, 244, 244);
}
.brand{
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    /* border: 2px solid red; */
}
.pic{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    /* border: 1px solid red; */
}
.pic a{
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    padding-top: 10px;
}
.round1Img{
    background-image: url(../images/설화수.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 129px;
    height: 129px;
    opacity: 0.4;
}
.round2Img{
    background-image: url(../images/시슬리.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 129px;
    height: 129px;
    opacity: 0.4;
}
.round3Img{
    background-image: url(../images/랑콤.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 129px;
    height: 129px;
    opacity: 0.4;
}
.round4Img{
    background-image: url(../images/스킨수티컬즈.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 129px;
    height: 129px;
    opacity: 0.4;
}
.round5Img{
    background-image: url(../images/키엘.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 129px;
    height: 129px;
    opacity: 0.4;
}
.round6Img{
    background-image: url(../images/조말론런던.avif);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 129px;
    height: 129px;
    opacity: 0.4;
}
[class^=round]:hover{
   opacity: 1; 
  }

