 header{
            position: relative;
            width: 1050px;
            margin: 0 auto;
        }
        .hd_first{
            height: 35px;
            margin: 10px;            
            margin-right: 10px;
            font-size: 12px;
        }
        .hd_first .member{
            display: flex;            
            position: absolute;
            right: 0px;
        }
        .hd_first li{
            margin-left: 10px;            
            position: relative;
            
        }
        .hd_first li:nth-child(1){
            color: var(--main-purple);
        }
        .hd_first li:hover .customer{
            display: block;
        }

        .hd_first .customer{
            position: absolute;
            top: 20px;
            right: 3px;
            text-align: center;
            display: none;
            flex-direction: column;
            width: 100px;
            font-size: 12px;
            border: 1px solid var(--border-color);
            background-color: white;
            padding: 3px;
            line-height: 20px;
        }
        .hd_second{
            display: flex;
            margin: 20px;
            text-align: center;
            align-items: center;
            justify-content: space-around;
        }
        .hd_second img{
            margin-left:0;
        }
        .hd_second .logo_name{
            color: var(--main-purple);
            margin-left: 10px;
            width: 100px;            
        }

        .hd_searchbar{
            display: flex;
            align-items: center;
            margin-right: 10px;
            width:400px;
            height:48px;
            border: 1px solid var(--main-purple);
            border-radius: 10px;            
        }
        .hd_searchbar input{
            width: 300px;
            height: 19px;
            padding: 20px;
            font-size: 15px;
            border: none;         
        }
        .hd_icons{
            display: flex;
            margin-left: 300px;
            position: relative;
        }

        .hd_icons div{
            position: absolute;
            top: 0;
            right: 0;
            width: 15px;
            height: 15px;
            background-color: var(--main-purple);
            border-radius: 50%;           

        }
        .hd_icons span{            
            color: var(--border-color);
            text-align: center;
            font-size: 10px;

        }
        /*---------------nav---------------*/
        nav{
            display: flex;
            position: relative;
            width: 1050px;
            margin: 0 auto;
            /* margin: 30px; */
        }
        .nav_left{
            display: flex;
            position: absolute;
            left: 0;
            cursor: pointer;
        }
        .nav_left .hamberger_btn{
            margin-right: 10px;
        }
        .nav_left .category{
            display: none;
            margin-top: 10px;
            margin-left: -30px;
            margin-bottom: 10px;
            padding: 10px;
            width: 180px;
            height: 500px;
            border: var(--border-color);
        }
        .nav_left img{
            width: 20px;
            margin-right: 10px;
            filter: grayscale(100%);            
        }

        .nav_left .category > li{
            display: flex;
            align-items: center;
            position: relative;                
        }

        .nav_left .category > li p{
            padding-left: 5px;                      
           
        }

        .nav_left .category.active{
            display: block;
            border: 1px solid var(--border-color);          

         }
         .nav_left .category > li:hover{
            background-color: var(--background-gray);
         }
         .nav_left .category > li:hover img{
            filter: grayscale(0%);           
        }
         .nav_left .category > li:hover .subcategory_title{
            color: var(--main-purple);
         }

        .subcategory{
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            background: white;
            width: 180px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20px;
            padding-bottom: 5px;
            text-align: center;
        }
        .subcategory li{ 
            line-height: 25px;
            padding-top: 10px;            
        }
        .subcategory.active{
            display: block;
            border: 1px solid var(--border-color);
        }
        
        .nav_center{
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            
            color: var(--text-primary);
        }
        .nav_center a{
            margin-left: 30px;            
        }               
        
        .nav_right li {            
            position: absolute;
            right: 0;
            top: -10px;
            padding: 10px;
            border: 1px solid var(--border-color);
            border-radius: 30px;                        
        }    

        .nav_right span{
            color: var(--text-primary);
            font-size: 13px;           
        }
        .nav_right span:nth-child(1){
            color: var(--main-purple)
        }