 header{
            position: relative;
        }
        .hd_first{
            height: 35px;
            margin: 10px;            
            margin-right: 10px;
            font-size: 12px;
        }
        .hd_first ul{
            display: flex;            
            position: absolute;
            right: 0px;
        }
        .hd_first li{
            margin-left: 10px;            
            
        }
        .hd_first li:nth-child(1){
            color: var(--main-purple)
        }
        .hd_second{
            display: flex;
            margin: 20px;
            text-align: center;
            align-items: center;
            justify-content: space-around;
        }
        .hd_second img{
            margin-left:0;
        }
        .hd_second .logo_name{
            color: var(--main-purple);
            margin-left: 20px;
            width: 100px;
            
        }

        .hd_searchbar{
            display: flex;
            align-items: center;
            margin-left: 200px;
            width:400px;
            height:48px;
            border: 1px solid var(--main-purple);
            border-radius: 10px;            
        }
        .hd_searchbar input{
            width: 300px;
            height: 19px;
            padding: 20px;
            font-size: 15px;
            border: none;         
        }
        .hd_icons{
            display: flex;
            margin-left: 300px;
            position: relative;
        }

        .hd_icons div{
            position: absolute;
            top: 0;
            right: 0;
            width: 15px;
            height: 15px;
            background-color: var(--main-purple);
            border-radius: 50%;           

        }
        .hd_icons span{            
            color: var(--border-color);
            text-align: center;
            font-size: 10px;

        }
        nav{
            display: flex;
            position: relative;
            margin: 30px;
        }
        .nav_left{
            display: flex;
            position: absolute;
            left: 0;
        }
        .nav_left .hamberger_btn{
            margin-right: 10px;
        }
        .nav_center{
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            
            color: var(--text-primary);
        }
        .nav_center a{
            margin-left: 30px;
            
        }
               
        
        .nav_right li {            
            position: absolute;
            right: 0;
            top: -10px;
            padding: 10px;
            border: 1px solid var(--border-color);
            border-radius: 30px;                        
        }    

        .nav_right span{
            color: var(--text-primary);
            font-size: 13px;           
        }
        .nav_right span:nth-child(1){
            color: var(--main-purple)
        }