.ft_outer1{
            height: 300px;

            display: flex;            
}
        .ft_med1{
            width: 50%;
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
        .ft_med1 .customer{
            font-size: 20px;
            font-weight: bold;
            padding: 0 0 17px;
        }
        .ft_med1 .phonenumber{
            font-size: 20px;
            font-weight: bold;
            display: flex;
            padding: 0 0 20px;
            
        }
        .ft_med1 .phonenumber p{
            margin-right: 20px;
        }
        
        .ft_med1 .ft_button{
            display: flex;
            margin-top: 10px;
            color: var(--text-primary);
        }

        .ft_med1 .ft_button button{
            border: 1px solid var(--border-color);
            width: 140px;
            height: 40px;
            margin: 0px 16px 16px 0px;
        }

        .ft_med1 .ft_button p{
            color: #9999;
        }

        .ft_med1 .ft_inquire{
            font-size: 12px;
            color: #9999;


        }
        .ft_med2{
            width: 50%;
            margin-top: 30px;
        }

        .ft_outer2 {
            height:100px;
            display: flex;
            align-items: center;
            justify-content: center;           
        }
        .ft_outer2 .ft_med3_left{
            margin-right: 10px;
            display: flex;
            color: #9999;
        }
        .ft_outer2 .ft_med3_left img{
            margin-right: 20px;
        }

        .ft_outer2 .ft_med3_right{
            margin-left: 100px;
            display: flex;
            color: #9999;
        }
        .ft_outer2 .ft_med3_right img{
            margin-right: 20px;
        }

        .ft_inner2 ul{
            display: flex;
            padding: 0 0 29px;            
        }
        .ft_inner2 ul a{
            margin-right: 10px;
            color: var(--text-primary)
           
        }
        .ft_inner2 .inner2_info{
            margin-bottom: 30px;
            line-height: 25px;
            color:#9999;
        }
        .ft_inner2 .social li a{
            margin-right: 20px;         
            
        }

        .ft_outer3{
            height: 50px;
            text-align: center;
            font-size: 10px;
            padding: 20px 0px 30px;
            color: #9999;
        }